<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hoangphan.cookie"
      android:versionCode="1"
      android:versionName="1.0">
       <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
     <application android:icon="@drawable/icon" android:label="The art of cooking">
        <activity
            android:name="LogoScreen"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImagesView"
            android:label="Details"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
             >
        </activity>
        <activity
            android:name=".ImageDetails"
            android:label="Details"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>
